<div class="row">
    <div class="col-sm-4">
        onw way - from.ts to .html
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
  </div>

  
       
        <div class="row">
            <div class="col-4 bg-success ">
                Interpoltions
            <h4>{{courseName}}</h4>
            <div>{{inputType}}</div>
            <input type="text" value="{{courseName}}" placeholder="Enter text"/>
            <input type="{{inputType}}"/>
        </div>
        <div class="col-4">
            property binding
            <div [class]="myClassName">Danger</div>
            <input type="text" [value]="courseName"/>
            <input [type]="inputType"/>
           



        </div>
    </div>
    
    <div class="col-sm-4">
        <button class="btn btn-success"  (click)="showAlert('Welcome Angular 17')">Show Welcome</button>
        <span (click)="showAlert('Welcome Angular')">Chenge Course</span>
        <button class="btn btn-danger" (click)=" chengeCoursesName()"> chenge Course</button>
        <!-- <button class="btn btn-primary" (click)="chenge()"> chenge</button> -->

    </div>
    <div class="col-sm-4">
        <input type="text"[(ngModel)]="courseName" /> -{{courseName}}
        <input type="checkbox"[(ngModel)]="idIndiana" />
        <select [(ngModel)]=" stateName">
            <option value="">
                Select
            </option>
            <option value="lucknow">
                lucknow
            </option>
            <option value="goa">
                goa
            </option>
            <option value="delhi">
                delhi
            </option>
        </select>

    </div>

