<!-- Hellow -->

<!-- <table class="Hellow"  width="100%" summary="2%">
    <tr>
        <td>
            <app-add-employee></app-add-employee>

        </td>
        <td>
            <app-employeelist></app-employeelist>

        </td>
    </tr>
</table> -->

<!-- <app-profile-form></app-profile-form> -->
<!-- <app-data-binding></app-data-binding> -->
 <!-- <app-forms></app-forms> -->
  <!-- <app-new></app-new> -->
 
  <!-- <app-databiding></app-databiding> -->

  <router-outlet></router-outlet>
  